# DoPa (20140416) - everything below was added to fix error messages;
# they may not be the most appropriate solutions

# let apps mess with CPU settings
# (all domains already have read access to sysfs files/dirs)
allow appdomain sysfs_devices_system_cpu:file rw_file_perms;

# several apps try to read this type of file
allow appdomain init_tmpfs:file read;

# multiple app domains use 'tegra_throughput_device' - it was
# split out from 'video_device' to reduce access to the latter
allow appdomain tegra_throughput_device:chr_file rw_file_perms;
