type sysfs_devices_tegradc, fs_type, sysfs_type;

# DoPa (20140527) - for "/modem/inv_cal_data.bin"
type sensors_data_file, file_type, data_file_type;
