allow mediaserver { nv_device nvhost_device }:chr_file rw_file_perms;

# Create and use netlink kobject uevent sockets.
allow mediaserver self:netlink_kobject_uevent_socket create_socket_perms;

# Communicate over a socket created by system-server.
allow mediaserver system_server:unix_stream_socket { read write setopt };

