# DoPa (20140416) - this was added to fix error an message;
# it may not be the most appropriate solution

allow netd kernel:system module_request;
allow netd self:capability sys_module;
